.button {
  border: 1px solid #08131A24;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
}

.activeColor {
  border: 1px solid #ff7f50;
}

/* TODO: ボタンの色は仮置き */

.button .veryPoor {
  fill: #6633CC;
}

.button .poor {
  fill: #6699CC;
}

.button .normal {
  fill: #FFCC00;
}

.button .goodCondition {
  fill: #FF3333;
}

.button .veryGoodCondition {
  fill: #FF33FF;
}
